@charset "utf=8";

body {
    font-family: "맑은고딕";
}

form ol li {
    list-style: none;
    margin-bottom: 22px;
}

form {
    width: 700px;
    margin-bottom: 50px;
}


form ol .namespace {
    margin-left: 30px;
}

form ol .idspace {
    margin-left: 15px;
}